* {
    padding: 0;
    margin: 0;
}
/* 폰트 생성부 */
@font-face {
    font-family: 'TT_Regular';
    src: url('../Fonts/TT\ Norms\ Pro\ Regular.otf');
}
@font-face {
    font-family: 'Title';
    src: url('../Fonts/TESLA.ttf');
}
@font-face {
    font-family: 'TT_Medium';
    src: url('../Fonts/TT\ Norms\ Pro\ Medium.otf');
}
@font-face {
    font-family: 'Noto_Light';
    src: url('../Fonts/NotoSansKR-Light.otf');
}
@font-face {
    font-family: 'Noto_Medium';
    src: url('../Fonts/NotoSansKR-Medium.otf');
}
@font-face {
    font-family: 'Noto_Regular';
    src: url('../Fonts/NotoSansKR-Regular.otf');
}
/* 상단 고정바 전체 속성*/
.top_fixed_bar{ 
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: red;
    z-index: 20;
}
/* 고정바 내부 텍스트 공통 속성 */
.top_fixed_bar a{
    text-decoration: none;
    color: black;
}
/* 좌측 상단 로고 포지션*/
.top_fixed_bar_left{    
    position: absolute;
    top: 10px;
    left: 70px;
}
/* 좌측 상단 로고 텍스트 */
.top_fixed_bar_left a{ 
    font-family: 'Title';
    word-spacing: 3px;
    font-size: 15pt;
}
/* 로그인창 위치및 크기 속성 */
.position_holder{
    font-family: 'Noto_Light';
    position: absolute;
    word-spacing: 40px;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 로그인창 메인 텍스트 */
.main_txt{
    margin-top: 100px;
    font-size: 30pt;
}
/* 로그인창 서브 텍스트 */
.sub_txt{
    margin-top: 50px;
    font-size: 10pt;
}
/* 인풋 속성 */
#input{
    padding-left: 20px;
    margin-top: 20px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 300px;
}
/* 로그인버튼 위치 및 크기속성 */
.button_hold{
    margin-top: 40px;   
    text-align: center;
    max-width: 400px;
}
/* 로그인버튼 속성 */
#next{
    text-decoration: none;
    font-size: 10pt;
    color: white;
    border-radius: 5px;
    padding: 7px 150px;
    border: none;
    background-color: rgb(75, 75, 75);
}